name: Check Pull Request Title
on:
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

jobs:
  check-pull-reuest-title:
    runs-on: ubuntu-latest
    name: Ensure that PR title can signal semantic release
    steps:
      - name: Check PR title
        uses: amannn/action-semantic-pull-request@v2.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
